<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 수정</title>
  <link rel="stylesheet" href="/css/postForm.css">
  <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>
</head>
<body>
<header>
  <h1>글 수정</h1>
</header>
<section>
  <form id="postForm" th:action="@{/post/modify(postId=${post.id})}" method="post">
    <div class="form-group">
      <label for="title">제목:</label>
      <input type="text" id="title" name="title" th:value="${post.title}" required>
    </div>
    <div class="form-group">
      <label for="content">내용:</label>
      <textarea id="content" name="content" style="display: none;" th:text="${post.content}"></textarea>
    </div>
    <div class="form-group">
      <label for="tags">태그 (쉼표로 구분):</label>
      <input type="text" id="tags" name="tags" th:value="${tags}"> <!-- tags 필드 추가, 필요 시 가공 -->
    </div>
    <div class="form-group">
      <label for="seriesId">시리즈 (선택 사항):</label>
      <select id="seriesId" name="seriesId">
        <option value="">시리즈를 선택하세요</option>
        <th:block th:each="series : ${seriesList}">
          <option th:value="${series.id}" th:text="${series.title}" th:selected="${post != null and post.series != null and series.id == (post.series.id ?: -1)}"></option>
          <!-- Elvis 연산자 ?: 를 사용하여 post.series.id가 null인 경우 기본값으로 -1을 설정 -->
        </th:block>
      </select>
      <input type="hidden" id="series" name="seriesId" th:field="*{post.series}">
      <input type="hidden" id="postId" name="postId" th:field="*{post.id}">
    </div>
    <button type="submit">수정 완료</button>
  </form>
</section>
<script>
  ClassicEditor
          .create(document.querySelector('#content'), {
            ckfinder: {
              uploadUrl: '/uploadImage'
            }
          })
          .then(editor => {
            // 폼 제출 이벤트 핸들러 추가
            document.querySelector('#postForm').addEventListener('submit', (event) => {
              // CKEditor 데이터 textarea에 복사
              const content = editor.getData();
              document.querySelector('#content').value = content;

              // 데이터가 비어 있는지 확인
              if (!content.trim()) {
                // 오류 메시지 출력
                alert('내용을 입력하세요.');
                event.preventDefault();
              }
            });
          })
          .catch(error => {
            console.error(error);
          });

  // seriesId 선택 시 숨겨진 input에 값 설정
  document.querySelector('#seriesId').addEventListener('change', (event) => {
    document.querySelector('#series').value = event.target.value;
  });
</script>
</body>
</html>
