<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Posts tagged with ' + ${tag.name}">Posts by Tag</title>
    <link rel="stylesheet" href="/css/postsByTag.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div class="bodyContent">
<th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

<header>
    <h1 th:text="'Posts tagged with ' + ${tag.name}">Posts by Tag</h1>
</header>

<div class="content">

    <div class="posts-grid">
        <div th:each="post, iter : ${tag.posts}" class="post-card">
            <span class="post-index" th:text="${iter.index + 1} + '.'">1.</span>
            <a th:href="@{'/post?blogId=' + ${post.blog.id} + '&postId=' + ${post.id}}" class="post-link">
                <div th:if="${postService.extractFirstImageUrl(post.content) != null}" class="image-container">
                    <img th:src="${postService.extractFirstImageUrl(post.content)}" alt="Post Image" class="post-image">
                </div>
                <div th:unless="${postService.extractFirstImageUrl(post.content) != null}" class="image-container">
                    <img th:src="@{/images/default-image.png}" alt="Default Image" class="post-image">
                </div>
                <div class="post-content">
                    <h3 th:text="${post.title}">Post Title</h3>
                    <p class="post-meta" th:text="${post.createdAt}">Date</p>
                </div>
            </a>
        </div>
    </div>
</div>
</div>

</body>
</html>
