<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title th:text="${blog != null} ? ${blog.title} : 'Series'">Series</title>
  <link rel="stylesheet" href="/css/blog.css">
  <script src="/js/header.js"></script>
  <link rel="stylesheet" href="/css/series.css">
  <link rel="stylesheet" href="/css/header.css">

</head>
<body>
<div class="bodyContent">
  <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

  <div class="profile-section">
    <div class="profile-image">
      <img th:src="${blogUser.profileImageUrl}" alt="Profile Image" />
    </div>
    <div class="profile-info">
      <h2 th:text="${blogUser.name}">User Name</h2>
      <p th:text="${blogUser.username}">Username</p>
    </div>
    <div class="follow-info">
      <span th:text="${followerCount}">3</span> 팔로워
      <span th:text="${followingCount}">0</span> 팔로잉
      <span>&nbsp;</span>
      <button th:if="${blogUser.username != user.username}" id="follow-btn" class="follow-button">
        <span th:text="${isFollowing ? '팔로우 취소' : '팔로우'}">팔로우</span>
      </button>
    </div>
  </div>

  <div class="cover-image" th:if="${blog != null && blog.coverImageUrl != null}">
    <img th:src="${blog.coverImageUrl}" alt="Cover Image">
  </div>

  <div th:if="${blog == null}">
    <p>No blog found.</p>
  </div>

  <div th:if="${blog != null}">
    <section>
      <div class="tab-menu">
        <a th:href="@{'/blog?username=' + ${blogUser.username}}">글</a>
        <a href="/blog/series?username=${blogUser.username}" class="active">시리즈</a>
        <a href="#">소개</a>
      </div>
<!--      <h2>Series</h2>-->
      <div class="series-grid">
        <div th:each="series : ${seriesList}" class="series-card">
          <a th:href="@{'/series/' + ${series.id}}" class="series-link">
            <div class="series-content">
              <h3 th:text="${series.title}">Series Title</h3>
              <div th:if="${series.coverImageUrl != null}" class="image-container">
                <img th:src="${series.coverImageUrl}" alt="Series Image" class="series-image">
              </div>
              <div th:unless="${series.coverImageUrl != null}" class="image-container">
                <img th:src="@{/images/default-image.png}" alt="Default Image" class="series-image">
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
</body>
</html>
