<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/signIn.css">
</head>
<body>
<div class="login-container">
    <div class="welcome-section">
        <img src="/images/login.png" alt="Welcome Image">
        <h2>환영합니다!</h2>
    </div>
    <div class="login-section">
        <div class="close-button">&times;</div>
        <h2>로그인</h2>
        <form action="/login" method="post">
            <div class="input-group">
                <label for="username">'사용자 이름'으로 로그인</label>
                <input type="text" id="username" name="username" placeholder="'사용자 이름'을 입력하세요." required>
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요." required>
            </div>
            <button type="submit">로그인</button>
        </form>
        <p>아직 회원이 아니신가요? <a href="/signUp">회원가입</a></p>
    </div>
</div>
</body>
</html>
